fastapi==0.111.0
uvicorn[standard]==0.29.0
websockets==11.0.3
flake8==4.0.1
black==22.3.0
mysqlclient==2.2.5
SQLAlchemy==2.0.27
sqlalchemy_utils==0.41.2
alembic==1.13.3
passlib[bcrypt]==1.7.4
aiomysql==0.2.0
pydantic[email]==2.6.2
pydantic-settings==2.2.1
pydantic-core==2.16.3
qrcode==8.0
pillow==11.0.0